header {
    background-color: #f0f0f0;
    height: 60px;
    padding: 10px;
    display: flex;
}

header h1 {
    left: 60px;
    position: relative;
}

.wrapper {
    display: grid;
    /* flex-direction: grid; */
    align-items: center;
    justify-self: center;
    justify-content: center;
    width: 80vw;
    margin: 50px;
    top: 0;
}

.expense-banner {
    background-color: #667eea;
    width: 80vw;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}

.statistic-container {
    width: 80vw;
    height: 400px;
    top: 60px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "expense-charts expense-breakdown";
}

.expense-charts {
    background-color: #f0f0f0;
    width: 30vw;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

.expense-breakdown {
    background-color: hsl(0, 45%, 71%);
    width: 30vw;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    /* justify-self: center; */
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
}

.recent-transactions {
    background-color: #f0f0f0;
    width: 80vw;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
}

.recent-transactions-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}

.recent-transactions li {
    list-style: disc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(105, 86%, 49%);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.new-expense-button {
    background-color: #667eea;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    right: 0;
}